<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Barra de Proceso</h4>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" [attr.ariaValuenow]="porcentaje1" aria-valuemax="100" [style.width]="porcentaje1 + '%'"></div>
                </div>
                <br>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar" aria-valuemin="0" [attr.ariaValuenow]="porcentaje2" aria-valuemax="100" [style.width]="porcentaje2 + '%'"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <!-- atravez del app se mandan las variables al otro componente -->
                <!-- para recicbirlo con un input nombre  -->
                <!-- con el ouput manda la variable que va cambiar para el porcentaje   -->
                <app-incrementador (actualizar)="porcentaje1 = $event" nombre="Progress azul" [porcentaje]="porcentaje1"></app-incrementador>

            </div>
        </div>
    </div>

    <div class="col-6">
        <div class="card">
            <div class="card-body">
                <app-incrementador (actualizar)="porcentaje2 = $event" nombre="Progress amarillo" [porcentaje]="porcentaje2"></app-incrementador>
            </div>
        </div>
    </div>

</div>